

/*---Header---*/
.logo_wrapper{ display: none; }

.mobile_menu_button span{
    font-size: 24px;
}

/*---competences---*/
#competences li, #competences h3, #competences p{
color: #ffffff;
}


/*---Div compteur---*/
.compteur{
    text-align: center;
}

.compteur p.nb{
    font-size: 60px;
    line-height: 1em;
    font-weight: 300;
    color: #186621;
    display: inline-block !important;
    height: 1em;
font-weight: 400;
}

.compteur p.txt{
        text-transform: uppercase;
}


/*---Portfolio---*/
.portfolio_like  {
     display: none !important;
}

/*---A propose---*/
section.parallax_section_holder {
    background-position: center 0 !important;
height: auto !important;
}

/*---Contact---*/
#contact p{
color: #ffffff;
}