

/*---Header---*/
.logo_wrapper{ display: none; }

.mobile_menu_button span{
    font-size: 24px;
}

/*---competences---*/
#competences li, #competences h3, #competences p{
color: #ffffff;
}

/*---Div titre---*/
/*.photo{
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}*/


/*---Div compteur---*/
.compteur{
    text-align: center;
}

.compteur p.nb{
    font-size: 60px;
    line-height: 1em;
    font-weight: 300;
    color: #186621;
    display: inline-block !important;
    height: 1em;
font-weight: 400;
}

.compteur p.txt{
        text-transform: uppercase;
}


/*---Portfolio---*/
.portfolio_like, #realisations .lightbox {
     display: none !important;
}

.back{
border-color: #186621;
    background-color: #186621;
}

.back:hover{
border-color: #F6F6F6;
    background-color: #F6F6F6;
color: #186621;
border-color: #186621;

}

/*---A propose---*/
section.parallax_section_holder {
    background-position: center 0 !important;
height: auto !important;
}

.justify p{
    text-align: justify !important;
}

/*---Contact---*/
#contact p{
color: #ffffff;
}